$primary: #fff;
$secondary: #000;
$tertiary: #155783;
$fourth: #3d3d3d;
$fifth: rgba(212, 40, 40, 0.12);
$sixth: #f5f5f5;
$seventh: #c0c0c0;
$eighth: #d42828;
$nineth: #eee;
$tenth: #4ac24f;
$font: "Inter", sans-serif;
